@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap');

/* Styles for responsive layout */
@media (max-width: 767px) {
  section {
      padding: 10px;
  }

  .container {
      max-width: 80%;
      padding: 0 10px;
  }  
}
/* Responsive layout */
@media (min-width: 768px) {
  .posting {
    flex: 1 0 60%;
  }

  .commentBox{
    flex: 1 0 40%;
  }

}

body{
    background-color: #F5F5F5;
    font-family: 'Montserrat', sans-serif;
}
section {
    padding: 20px;
    background-color: #f2f2f2;
}
.flexSection{
  display: flex;
  justify-content: center;
  min-height:90vh
}

/* The title */
.titlePosting{
  display: flex;
  padding-top: 15px;
  padding-left: 25px;
  margin-bottom: 20px;
  text-align: center;
}
.form-select{
  width: 300px;
  margin-right: 10px;
}
p.title{
  padding-right: 10px;
  padding-top: 10px;
}

/* style small box filter */
.box1 {
    width: 60px;
    height: 40px;
    background-color: white;
    text-align: center;
    padding-top: 8px;
    margin-top: 5px;
    border: 1px solid #aaaaaa;
    border-radius: 10px;
}
button {
    all: unset;
    cursor: pointer;
}

/* posting section */
.question{
  background-color: #EFEFEF;
  padding: 20px; 
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-bottom: 0;
}
.infoBoard{
  background-color: #eeebeb;
  position: sticky;
  border-radius: 10px;
  padding: 20px;
}
hr.solid {
  border-top: 3px solid #ccc9c9;
  margin: auto;
}

/* posting - image */
.profileImg{
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.circle1 {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 5px;
}
.right{
  margin-right: -25px;
}

/* interaction */
#like, .comment, .views, .rates{
  padding-right: 5px;
  border: none;
  cursor: pointer;
}
.like_count, .viewCounter, .rateCounter{
  padding-right: 30px;
}
.hide {
	display: none;
}

/* Additional styles for color change */
.like-button {
  transition: background-color 0.3s ease;
}

/* status */
.input-group {
  position: relative;
}

.form-control {
  padding-left: 30px; /* Add padding to the left to make space for the icon */
}
p.infoBoard{
  text-align: center;
}



/* color */
.yellow{
  color:#d2db57;
}
.red{
  color: #a81f1f;
}

#textareaComment {
  display: none;
}
