@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap');

body{
    background-color: #F5F5F5;
    font-family: 'Montserrat', sans-serif;
}

section {
    padding: 20px;
    background-color: #f2f2f2;
}

/* Styles for the container */
.container {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-gap: 50px;
  }
  
.left-side{
    background-color: #E2E0E0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;
    margin-left: -200px;
    margin-right: -90px;
  }

.right-side{
    margin-left: 90px;
    margin-right: -400px;
    top: 0;
    position: sticky;
  }

.comment{
    background-color: #EFEFEF;
    padding: 20px;
    margin-left: -200px;
    margin-right: -90px;
    margin-top: -50px;
  }

/* The title */
.title{
    padding-top: 15px;
    padding-left: 25px;
    margin-bottom: 20px;
}

.titleTable, table, tr, td{
    padding: 10px;
    text-align: center;
}

    /* Styles for responsive layout */
    @media (max-width: 767px) {
    section {
        padding: 10px;
    }

    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    
}

/* style small box filter */

.box1 {
    width: 60px;
    height: 40px;
    background-color: white;
    text-align: center;
    padding-top: 8px;
    border: 1px solid #aaaaaa;
    border-radius: 10px;
  }

button {
    all: unset;
    cursor: pointer;
  }

/* status */
.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    float: left;
  }
p.right-side{
    text-align: center;
}