@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap');

body{
    background-color: #F5F5F5;
}

.flexSection{
    display: flex;
    justify-content: center;
    min-height:90vh;
}

.mainSection{
    background-color: #F5F5F5;
    width: 800px;
    height: fit-content;
}

.mainSection h1{
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-align: left;
}

#publication_Component{
    background-color: white;
    height: fit-content;
    border-radius: 10px;
    padding: 40px;
    margin-top: 20px;
}

.post_publication{
    height: fit-content;
    background-color: rgb(255, 255, 255);
}

p{
    font-family: 'Montserrat', sans-serif;
}

.post_publication h6{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: black;
    width: 85%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#impression_text{
    font-size: 10px;
    color: black;
}

#post_desc{
    font-size: 12px;
    text-align: justify;
    width: fit-content;
    word-wrap: break-word
}

.button_View{
    background-color: #115FFB;
}  

@media only screen and (max-width: 800px){

    #publication_Component{
        background-color: white;
        height: fit-content;
        border-radius: 10px;
        padding-right: 80px;
        margin-top: 20px;
    }

    .mainSection h1{
        text-align: center;
    }
} 

@media only screen and (max-width: 600px){

    #publication_Component{
        background-color: white;
        height: fit-content;
        border-radius: 10px;
        padding-right: 100px;
        margin-top: 20px;
    }
    
    .mainSection h1{
        text-align: center;
    }
    
} 