<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="css/dashboard.css">
    
    <link rel="icon" href="../../Asset/icon_logo.png">
    <title>Dashboard</title>
</head>
<body>
    <!--header-->
    <header class="header">
        <nav>
            <ul>
                <!--navigation left side-->
                <div class="leftSide">
                    <li><div class="logoimg"></div></li>
                    <li><a href="#">RESEARCH</a></li>
                    <li><a href="#">COMPLAINT</a></li>
                    <li><a href="#">QUESTION</a></li>
                </div>

                <!--navigation right side-->
                <div class="rightSide">
                    <li>
                        <div class="profile-name-side">
                            <p>James Cooper</p>
                            <p style="color: #C5E3F4;">CB21145</p>
                        </div>
                        <div class="profile-picture"></div>
                    </li>
                    <li>
                        <div class="search-box">
                            <input placeholder="Search...">
                        </div>
                    </li>
                </div>
            </ul>
        </nav>
    </header>

    <!--body-->


    <!--footer-->
</body>
</html>