@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap');

body{
    background-color: #F5F5F5;
}

section {
    padding: 20px;
    background-color: #f2f2f2;
  }

  /* Styles for the container */
  .container {
    max-width: 94%;
    margin: 0 auto;
    background-color: #E7E7E7;
    border-radius: 8px;
  }

  .container h4{
    font-weight: bold;
    margin-bottom: 15px;
  }

  .button-box {
    text-align:center;
    margin-top:20px;
   }

   /* Styles for responsive layout */
   @media (max-width: 767px) {
    section {
      padding: 10px;
    }

    .container {
      max-width: 100%;
      padding: 0 10px;
    }
  }