@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap');

nav{
    background-color: #2D59AC;
}

nav a{
    color: white;
}

.search_Section input{
    background-color: rgb(180, 189, 237);
    border: transparent;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }

.profile_section{
    margin-right: 3vw;
}

.profile_name_Section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 120px;
    margin-left: 15%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.profile_name_Section h6{
    font-family: 'Montserrat', sans-serif;
    margin:  0px;
    text-align: end;
}

#navName{
    font-size: 12px;
}

#navUsername{
    font-size: 10px;
}

.navbar a{
    font-family: 'Montserrat', sans-serif;
}

.container-fluid a{
    font-size: 12px;
}

.imageLogo{
    content: url("../../Asset/logo.png");
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}