<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Profile</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1>Edit Profile</h1>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editProfileModal">
      Edit Profile
    </button>
  </div>

  <!-- Edit Profile Modal -->
  

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>

<div class="container">
  <div class="left-side">
      <div class="box2">
          
      </div>
      
  <!-- comment section 
      <div class="commentBox">
        
      </div>-->
  </div>
  <div class="right-side">
      <h4>INFORMATION BOARD</h4>
      <p><div class="circle" style="background-color: #84D17E;"></div> Completed</p>
      <p><div class="circle" style="background-color: #DFF45C;"></div>Revised</p>
      <p><div class="circle" style="background-color: #3E9BA8;"></div>Accepted</p>
      <p><div class="circle" style="background-color: #FFFFFF;"></div>Assign</p>
  </div>
</div>